@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400, 900;
}
body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;

  .card {
    background-color: hsl(0, 0%, 12%);
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    gap: 25px;
    .avatar {
      border-radius: 50%;
      width: 90px;
    }

    .name {
      color: hsl(0, 0%, 100%);
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 16px;
    }

    .location {
      color: hsl(75, 94%, 57%);
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }

    .description {
      color: hsl(0, 0%, 100%);
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .link {
        background-color: hsl(0, 0%, 20%);
        text-decoration: none;
        width: 279px;
        color: hsl(0, 0%, 100%);
        padding: 14px 0px 14px 0px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
      }
      .link:hover{
        background-color: hsl(75, 94%, 57%);
        color: hsl(0, 0%, 8%);
      }
    }
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
